.contacts-page {
  position: relative;
  height: 100%; 
}

.contacts-page .search-container {
  height: 40px;
  padding: 0 10px; 
}

.contacts-page .contacts-container {
  max-height: 360px;
  overflow-x: hidden; 
}

.contacts-page .action-container {
  position: absolute;
  bottom: -3px;
  right: 10px;
}

.add-new-img {
  position: absolute;
  height: 55px;
  right: 15px;
  bottom: -5px;
}